{% extends "./layout-index.html" %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/post_style.css' %}">
<link rel="stylesheet" href="{% static 'css/markdown-content.css' %}">
<div class="markdown-main">
    <div class="markdown-title">
        {{markdown.title}}
    </div>
    <div class="markdown-author">
        作者:{{markdown.author}} 发表时间:{{markdown.created_at}}
    </div>
    <div class="markdown-content">
        <!-- 这里是markdown内容的输出位置，通过js输出 -->
    </div>
</div>
<div class="main-footer">
    {% if prev_record %}
    <a href="{% url 'post' %}?id={{ prev_record.id }}"><button type="button" class="pre-but">上一篇</button></a>
    {% else %}
    <button type="button" class="pre-but">已经是第一篇了</button>
    {% endif %}
    {% if next_record %}
    <a href="{% url 'post' %}?id={{ next_record.id }}"><button type="button" class="nxt-but">下一篇</button></a>
    {% else %}
    <button type="button" class="nxt-but">已经是最后一篇了</button>
    {% endif %}
</div>
<script>
    var markdownContent = document.querySelector('.markdown-content');
    var data = '{{ markdown.content|escapejs }}';
    console.log(data);
    var converter = new showdown.Converter({
        tables:true,
        metadata: true,
        strikethrough: true,
        parseBlockQuotes: false,
    });
    var html = converter.makeHtml(data);
    markdownContent.innerHTML = html;
</script>
{% endblock %}