/*这是后台页面的整体的css*/
* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.navbar {
    position: relative;
    width: 100vw;
    display: flex;
}

.main {
    flex: 1;
    height: calc(100vh - 43px);
    position: relative;
    top: 43px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/88426823_p0.png');
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.navbar .top-title {
    position: absolute;
    top: 0;
    left: 70px;
    width: 100%;
    height: 43px;
    font-size: 30px;
    color: #5a738e;
    background-color: #ededed;
    padding-left: 20px;
    border: 1px solid #d9dee4;
}

.navbar ul {
    list-style: none;
    width: 70px;
    height: 100vh;
    background-color: #2a3f54;
    overflow: hidden;
}

.navbar ul li {
    height: 70px;
    margin-bottom: 10px;
}

.navbar ul li:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.navbar ul li:first-child img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 垂直排列 */
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #d1d1d1;
    text-decoration: none;
}

.navbar ul li a i {
    font-size: 25px;
    margin-bottom: 10px;
}

.navbar ul li a span {
    font-size: 12px;
    white-space: nowrap;
}

.navbar ul li a:hover {
    color: #fff;
    background-color: #35495d;
}

.navbar ul li a.current {
    color: #fff;
    background-color: #1c2d3f;
}